body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.converter-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.converter-container h2 {
    margin-bottom: 20px;
    text-align: center;
}

.converter-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.converter-container select, 
.converter-container input,
.converter-container button {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.converter-container button {
    background-color: #0d76e7;
    color: rgb(53, 30, 222);
    border: none;
    cursor: pointer;
}

.converter-container button:hover {
    background-color: #3672cd;
}
.geri-don-buton {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #0d76e7;
    color: white;
    border-radius: 5px;
    border: none;
    transition: background 0.3s ease;
    text-align: center;
}

.geri-don-buton:hover {
    background-color: #1508d5;
}


